SESSION=put your session and remove this line
HANDLERS=".,"
ANTILINK_WARN="jid,jid"
READ_MESSAGES="false"
READ_COMMAND="true"
HEROKU_API_KEY=""
HEROKU_APP_NAME=""
STICKER_DATA="ʀᴀɢᷨᴀͦɴͭᴏʀᴋ"
CHATBOT="off"
BOT_NAME="Raganork"
BOT_INFO="Raganork,SKL11,91xx789,https://i.imgur.com/B2YWSLk.jpg"
AUDIO_DATA="ʀᴀɢᷨᴀͦɴͭᴏʀᴋ;ʀᴀɢᷨᴀͦɴͭᴏʀᴋ;https://2.img-dpreview.com/files/p/E~C1000x0S4000x4000T1200x1200~articles/3925134721/0266554465.jpeg"
MODE="private"
SUDO="91x"
ALIVE="{pp} Active since {uptime}\n User:{sender}"
